@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300..700&display=swap');


:root{
    --yellow-color: #FFFF00;
    --yellow-light: #f8f184;
    --blue-color: #052030;
    --white-color: rgb(255, 255, 255);
    --red-color: #890008;
    --whitee-color: #EDDEBF;
    --gradient-white: rgba(237, 222, 191, 0.4);
    --gradient-red: rgba(137, 0, 9, 0.6);
    --black-color: #000;
    --grey-color: #686464;
    --gradient-blue: rgb(25, 88, 125,0.4);
    --bluee-color: #19587D;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Rajdhani';
    font-size: 36px;
    font-weight: 400;

}

button{
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 400; 
}
.container{
    width: 80%;
    margin: 0 auto;
    
}
body{
    background-color: black;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
    font-size: 20px;
}
.up-bar{
    border-top: #BCBBBD 2px solid;
    position: relative;
    top: 250px;
    width: 80%;
    left: 150px;
}


/* Design de la navigation*/ 
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    

}


ul{
    list-style: none;
    display: flex;

}

nav ul a{
    color: var(--white-color);
    font-size: 30px;
    font-weight: 500;
    font-family: 'rajdhani';
    padding: 20px;
    
}


nav ul a:hover{
    color: var(--yellow-color)
}
.logobat:hover{
    filter: invert(4%) sepia(48%) saturate(6073%) hue-rotate(0deg) brightness(110%) contrast(103%);
}

#hero{
    background-image: url(./Illustrations/Batgame_1.png);
    background-size: cover;
    height: 1000px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #19587d;
}

.content{
    display: flex;
    width: 30%;
    padding-top: 200px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'rajdhani';

}

#hero .titre{
    margin: 20px;
}
.btn{
text-decoration: none;
color: var(--white-color);
font-size: 22px;
padding: 10px 40px;
margin-top: 10px;
background: linear-gradient(
    80deg,var(--gradient-white),var(--gradient-red)

);
box-shadow: var(--black-color) 5px 5px 60px;
}

#hero .fleche{
    display: block;
    margin: 0 auto;
    margin-top: 350px;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 80px;
    top: 300px;
    width: 20px;
}

.scroll .social:hover{
    filter: invert(4%) sepia(48%) saturate(6073%) hue-rotate(0deg) brightness(110%) contrast(103%);
}
.scroll .flechee:hover{
    filter: invert(4%) sepia(48%) saturate(6073%) hue-rotate(0deg) brightness(110%) contrast(103%);
}

.scroll .social{
    margin-top: 15px;
}




/* Design de la partie footer*/
footer{
    margin-top: 162px;

}

footer .text-footer{
    text-align: center;
    font-size: 14px;
}

footer .social-footer{
    text-align: center;
    margin: 50px 0;
}
footer .social-item{
    padding: 15px;
}

.bat-right{
    
    display: flex;
            justify-content: flex-end;
}

.btn:hover {
    background: linear-gradient(
        150deg,var(--whitee-color),var(--red-color));
}

input[type='submit']:hover{
    background: linear-gradient(
        150deg,var(--whitee-color),var(--red-color));
}
.btn-group label:hover{
    background: linear-gradient(
        150deg,var(--whitee-color),var(--bluee-color));
}

.social-footer .social-item:hover{
    filter: invert(4%) sepia(48%) saturate(6073%) hue-rotate(0deg) brightness(110%) contrast(103%);
}
.batman-item:hover{
    transform: scale(1.1);
}

.border-left, .border-right, .border-top {
    position: absolute;
    background-color: #BCBBBD;
}

.border-left {
    top: 0;
    bottom: 0;
    left: 102px;
    width: 5px;
}

.border-right {
    top: 0;
    bottom: 0;
    right: 102px;
    width: 5px;
    height: 100%;
}

.border-top {
    top: 180px;
    left: 102px;
    right: 102px;
    height: 5px;
}
body {
    
    position: relative;
}
.border-left, .border-right, .border-top {
    
    background-color: rgba(188, 187, 189, 0.1);
}